.alineacion-derecha{
    text-align: right;
}

.alineacion-centro{
    text-align: center;
}

.alineacion-izquierda{
text-align: left;
}

.alineacion-justificado{
    text-align: justify;
}


p{
    font-size: 1.5em;
}
.texto-indentado{
    text-indent: 2em;
    line-height: 1.5em;
}
.texto-enfatizado{
    font-size: 6em;
}
blockquote{
    font-style: initial;
    color: lawngreen;
    font-size: 3em;
    text-align: center;
}