h1{
    color: chocolate;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    height: 1000px;
    width: 90%;
    max-width: 1000px;
    
    border: 5px solid black;
    margin: 0 auto;
    /* text-align: center; */
    box-shadow: 5px 5px 30px rgb(0,0,0,25);

   /*  alineacion horizontal */

  /*  justify-items: start; */
  /*  justify-items:end; */
  /*  justify-items: center; */
  /*  justify-items: stretch; */
  justify-items: center;

   /* alineacion vertical */
   /* align-items: start; */
   /* align-items: end; */
   align-items: center;
}
.contenedor > div{
    display: flex;
    width: 200px;
    height: 200px;
    padding: 10px;
    box-shadow: 2px 2px 10px rgb(158, 78, 22);
    color: darkorange;
    background: cyan;
    justify-content: center;
    align-items: center;
}