h1{
    color: chocolate;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  /*   grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
    gap: 10px;
    width: 50%;
    max-width: 1000px;
  /*   border: 5px solid black; */
    margin: 0 auto;
   /*  text-align: center; */
   /*  box-shadow: 5px 5px 30px rgb(0,0,0,25); */

   /*  alineacion horizontal */

  /*  justify-items: start; */
  /*  justify-items:end; */
  /*  justify-items: center; */
  /*  justify-items: stretch; */
  justify-items: stretch;

   /* alineacion vertical */
   /* align-items: start; */
   /* align-items: end; */
   align-items: center;
}
.contenedor > div{
    display: flex;
  /*   width: 60px;
    height: 30px; */
    padding: 10px;
 /*    padding: 15px; */
    box-shadow: 2px 2px 5px rgb(158, 78, 22);
  /*   color: darkorange; */
    background: cyan;

}
.contenedor > .nombre-dia{
    background:teal;
    color: white;
     justify-content: center;
    align-items: center;
  

}
.primer-dia{
    grid-column-start: 4;
    grid-column-end: 5;
}
.contenedor > .nombre-mes{
    grid-column-start: 1;
    grid-column-end: 8;
    background: white;
    color: tomato;
    font-style: italic;
    font-size: 1.8em;
    justify-content: center;
    align-items: center;
}
.contenedor > .dia-13{
 
  background: violet;
  
  }

  
    



