body{
    margin: 0 4em;
}

h1{

    text-align: center;
}
img{
    display: block;
   margin: 0 auto;
}
.fuente-bold{
    font-weight: bold;
    font-size: 28px;
}
.font{
    font-size: 19px;
}
}
.img-catalogo{
    display: inline;
    margin-bottom: -2em;

}
p{
    font-size: 1.5em;
    text-align: center;

}
div{
   display: inline-block ;
   margin: 25px;
   height: 250px;
   width: 370;
}