body{
  background-color: bisque;
}

.formulario-principal{
    border:rgb(22, 22, 22) 1px solid;
    border-radius: 5px;
    padding: 10px;
    margin: 150px 150px 0 338px ;
    width: 50%;
    

}
label{
    font-weight: bold;
}
